#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Jorge Valdez"
email = "jorge@yung.dev"

[ui]
pager = ["delta", "--pager", "less -FRX"]
diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
merge-editor = "diffconflicts"
default-command = "log"
bookmark-list-sort-keys = ["author-date-"]
tag-list-sort-keys = ["author-date-"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
  "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
  "-c", "JJDiffConflicts!",
  "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[git]
private-commits = '''description('private:*')'''

[aliases]
currbm = ["b", "l", "-r", "current_bookmark"]
currbm-name = ["b", "l", "-r", "current_bookmark", "-T", "nonremote_bookmark_name"]
parentbm = ["b", "l", "-r", "current_parent_bookmark"]
parentbm-name = ["b", "l", "-r", "current_parent_bookmark", "-T", "nonremote_bookmark_name"]
remote-recents = ["b", "l", "--remote", "origin", "-T", "bookmarks_remote_recent"]
branches-only = ["log", "-r", "bookmarks() | fork_point(bookmarks()) | @"]
track = ["util", "exec", "--", 'sh', '-euc', '''
  jj b track "$(jj currbm-name)" --remote origin > /dev/null 2>&1
''' ]

[revset-aliases]
"parent_bookmark(rev)" = "latest(bookmarks() & trunk()-..rev)"
"current_bookmark" = "parent_bookmark(@)"
"current_parent_bookmark" = "parent_bookmark(parent_bookmark(@)-)"

[template-aliases]
'signature_timestamp(signature)' = 'signature.timestamp().local()'
'format_commit_signature(signature)' = 'signature ++ " (" ++ signature_timestamp(signature) ++ ")"'

'nonremote_bookmark_name' = 'if(remote, "", name)'

'bookmarks_remote_recent' = '''
if(
    self.remote()
    && self.normal_target()
    && self.normal_target().author().timestamp().before("1 minute ago")
    && self.normal_target().author().timestamp().after("2 days ago"),
    label("bookmark", self.name()) ++ "\n" ++
    "author: " ++ format_commit_signature(self.normal_target().author()) ++ "\n" ++
    "committed by: " ++ format_commit_signature(self.normal_target().committer()) ++ "\n" ++
    indent("\t> ", self.normal_target().description()) ++ "\n"
)
'''

