#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Jorge Valdez"
email = "jorge@yung.dev"

[ui]
pager = ["delta", "--pager", "less -FRX"]
diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[git]
private-commits = 'description(glob:"private:*")'
